### Data Structures in Python

#### Lists  
#### Tuples
#### Sets
#### Dictionaries etc.

#### Lists --- Ordered collections of items that can be of any data type, including strings, integers, floats, and other lists. []

In [10]:
my_list = []    # Empty list
my_list

[]

In [24]:
my_list = list()    # Empty list
my_list

[]

In [26]:
print(type(my_list))

<class 'list'>

In [28]:
len(my_list)

0

In [30]:
my_list.append(1)        # Add an item to the list
my_list

[1]

In [32]:
my_list.append([2,3])        # Add an item to the list
my_list

[1, [2, 3]]

In [36]:
my_list.append((1, 3, 4, 7))        # Add an item to the list
my_list

[1, [2, 3], (1, 3, 4, 7)]

In [38]:
len(my_list)

3

In [40]:
id(my_list)

2281302883072

In [42]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [46]:
len(keyword.kwlist)

35

In [72]:
my_list1 = my_list.copy()
my_list1

[1, [2, 3], (1, 3, 4, 7)]

In [74]:
# Slicing

In [76]:
my_list1[:]

[1, [2, 3], (1, 3, 4, 7)]

In [78]:
my_list1[:2]

[1, [2, 3]]

In [80]:
my_list1[-1]

(1, 3, 4, 7)

In [82]:
my_list1.append(2.3)
my_list1.append(True)
my_list1.append(3+2.7j)
my_list1.append(2.3)

In [84]:
my_list1

[1, [2, 3], (1, 3, 4, 7), 2.3, True, (3+2.7j), 2.3]

In [86]:
my_list1.count(2.3)

2

In [90]:
my_list1.remove(True)    # Remove the element
my_list1

[[2, 3], (1, 3, 4, 7), 2.3, (3+2.7j), 2.3]

In [92]:
my_list1.clear()
my_list1

[]

In [94]:
my_list2 = [1,3,4,5,6]
my_list2

[1, 3, 4, 5, 6]

In [98]:
my_list2[1]    # indexing

3

In [100]:
for i in my_list2:
    print(i)

1
3
4
5
6

In [102]:
for i, num in enumerate(my_list2):
    print(i, num)

0 1
1 3
2 4
3 5
4 6

In [104]:
for num in enumerate(my_list2):
    print(num)

(0, 1)
(1, 3)
(2, 4)
(3, 5)
(4, 6)

In [142]:
my_list3 = [7, 4]

In [144]:
my_list3.append(['Hi', 20, 3.2, False, 2+3j])  # Nested  list
my_list3

[7, 4, ['Hi', 20, 3.2, False, (2+3j)]]

In [146]:
my_list3.pop(-1)

['Hi', 20, 3.2, False, (2+3j)]

In [148]:
my_list3.insert(13, 1)
my_list3

[7, 4, 1]

In [150]:
my_list3.index(4)

1

In [154]:
my_list3.sort(reverse=True)    # Descending order
my_list3

[7, 4, 1]

In [156]:
my_list3.sort(reverse=False)    # escending order
my_list3

[1, 4, 7]

#### Tuples --- Ordered, immutable collections of items that can be of any data type.  ()

- Tuple is similar to List except that the objects in Tuple are immutable which means we can not change the items 
of a Tuple once assigned
- Tuple is prefered data type when we do not want to change the data over time.
- Iterating over the items of a tuple is faster compared to iterating over a list.

In [6]:
tup1 = ()   # Empty tuple
tup1

()

In [7]:
print(type(tup1))

<class 'tuple'>

In [8]:
tup2 = (10, 20, 30)     # tuple of intger numbers

In [9]:
tup3 = (10.77, 30.66, 60.89)  # tuple of float numbers

In [10]:
tup4 = ('one', 'two', 'three')  # tuple of strings

In [11]:
tup5 = ('nested', 25, (50, 100), (150, 78))    # Nested tuple

In [12]:
len(tup5)     # length of tuple

4

In [13]:
tup6 = (100, 'Asif', 17.65)     # Tuple with mixed data types

In [14]:
tup7 = ('Asif', 25, [50, 100], [159, 48], {'mike', 'Jaden', 'Princess'}, (12, 23, 93))

In [15]:
print(len(tup7))

6

### Tuple Indexing

In [17]:
tup2[0]   # Retreive first item in the tuple

10

In [18]:
tup4[0]

'one'

In [19]:
tup4

('one', 'two', 'three')

In [20]:
tup4[0][0]   # Nested indexing - accessing the first character of the first tuple item

'o'

In [21]:
tup4[-1]   # last item in the tuple

'three'

In [22]:
tup5

('nested', 25, (50, 100), (150, 78))

In [23]:
tup5[-1]

(150, 78)

### Tuple Slicing

In [25]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [26]:
mytuple[:]    # column (:) inside a square bracket with variable name, gives all the items in the tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [27]:
mytuple[0:3]   # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [28]:
mytuple[2:5]   # list all items from 2nd to 5th index loction excluding the item

('three', 'four', 'five')

In [29]:
mytuple[:3]  # Return the first three items

('one', 'two', 'three')

In [30]:
mytuple[-3:]   # Return last three items

('six', 'seven', 'eight')

### Remove and Change Items

In [32]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### We can not Remove or Change items in a Tuple because its IMMUTABLE but deleting (del) the entire tuple is possible

In [33]:
#del mytuple[0] = 1 # can not CHANGE TUPLE items
#del mytuple[0]     # can not DELETE TUPLE item
#del mytuple    # Deleting entire tuple is possible

### Loop through a tuple

In [35]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [36]:
for item in mytuple:
    print(item)

one
two
three
four
five
six
seven
eight

In [37]:
### Enumerate

In [38]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [39]:
for index, item in enumerate(mytuple):
    print(index, item)

0 one
1 two
2 three
3 four
4 five
5 six
6 seven
7 eight

### Count

In [41]:
mytuple1 = ('one', 'two', 'three', 'four', 'one', 'two', 'three')

In [42]:
mytuple1.count('one')    # Number of times item "one" occured in the tuple

2

In [43]:
mytuple1.count('four')

1

### Tuple Menmbership

In [45]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'two', 'three')

In [46]:
'one' in mytuple1   # Check if 'one' exist in the tuple

True

In [47]:
'ten' in mytuple1

False

In [48]:
if 'three' in mytuple1:          # Check if 'three' exist in the tuple
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [49]:
if 'ten' in mytuple1:
    print('Ten is present in the tuple')
else:
    print('Ten is not present in the tuple')

Ten is not present in the tuple

### Index Position

In [51]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [52]:
mytuple[3]   # indexing

'four'

In [53]:
mytuple.index('five')  # Index of first element equal to four

4

### Sorting

In [55]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)

In [56]:
sorted(mytuple2)    # Return a new sorted list and does not change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [57]:
sorted(mytuple2, reverse=True)   # Sort in decending order

[99, 90, 67, 67, 43, 12, 6]

#### Sets Unordered collections of unique items. {}

- Unordered & Unindexed collection of items
- Set elements are unique. Duplicate elements are not allowed
- Set elements are immutable (cannot changed)
- Set itself is mutable ie we can add or remove ites from it

In [59]:
myset = {1,2,3,4,5}     # Ste of a numbers
print(type(myset))

<class 'set'>

In [60]:
len(myset)    # Length of the set

5

In [61]:
my_set = {1,1,2,2,3,4,5,5}    # Duplicate items are not allowed
my_set

{1, 2, 3, 4, 5}

In [62]:
myset1 = {1.74, 2.07, 3.99, 4.23, 5.0}  # Set of foats
myset1

{1.74, 2.07, 3.99, 4.23, 5.0}

In [63]:
myset2 = {'Asif', 'Mike', 'Jaden'}   # Set of string
myset2

{'Asif', 'Jaden', 'Mike'}

In [64]:
#myset3 = {10, 20, 3.4, [11, 12, 13]}  # Set does not allow mutable items list like lists

In [65]:
mylist3 = [10, 20, 3.4, [11, 12, 13], {2,2,4}]   # List allow  mutable items
mylist3

[10, 20, 3.4, [11, 12, 13], {2, 4}]

In [66]:
myset4 = set()    # Create an empty set
print(type(myset4))

<class 'set'>

In [67]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

{'four', 'one', 'three', 'two'}

### Loop through a Set

In [69]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [70]:
for i in myset:
    print(i)

six
one
seven
two
three
five
four
eight

In [71]:
for i in enumerate(myset):
    print(i)

(0, 'six')
(1, 'one')
(2, 'seven')
(3, 'two')
(4, 'three')
(5, 'five')
(6, 'four')
(7, 'eight')

In [72]:
for i, x in enumerate(myset):
    print(i, x)

0 six
1 one
2 seven
3 two
4 three
5 five
6 four
7 eight

### Set Membership

In [74]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [75]:
if 'one' in myset:
    print("One is present in the set")
else:
    print("One is not present in the set")

One is present in the set

In [76]:
'one' in myset

True

### Add and Remove Items

In [78]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [79]:
myset.add('NINE')     # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [80]:
myset.update(['TEN', 'ELEVEN', 'TWELVE'])    # Add multiple item to a set using
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [81]:
myset.remove('NINE')    # Remove item from a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [82]:
myset.discard('TEN')  # Remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [83]:
myset.clear()   # Delete all items in a set
myset

set()

In [84]:
#del myset  # Delete the set object

### Copy Set

In [86]:
myset = {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [87]:
myset1 = myset     # Create a new reference 'myset1'
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [88]:
id(myset), id(myset1)  #  The address of both myset1 wii be thesame as myset

(1912595856768, 1912595856768)

In [89]:
my_set = myset.copy()   # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [90]:
id(my_set)   # The address of my_set is different from myset

1912595855648

In [91]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [92]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [93]:
myset1    # is impacted as it is pointing to thesame address

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [94]:
my_set  # Copy of the set wont be impacted due to changes made on the original

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

### Set Operation

In [190]:
# Union

In [192]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [194]:
A | B  # Union of A and B (All elements from both sets. NO Duplicate)

{1, 2, 3, 4, 5, 6, 7, 8}

In [196]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [200]:
A.union(B, C) # Union of A, B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [204]:
"""
Update the set calling the update() method with union of A, B & C
for below example set A will be updated with union of A,B & C
"""
A.update(B, C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [206]:
# Intersection
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [210]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [212]:
A.intersection(B)   # Intersection of A and B

{4, 5}

In [216]:
A.intersection_update(B)    # Update the with the intersection of A and B
A

{4, 5}

In [218]:
# Difference 
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [220]:
A - B  # Set of elements that are only in A but not in B

{1, 2, 3}

In [222]:
B - A

{6, 7, 8}

In [224]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [226]:
B.difference_update(A)
B

{6, 7, 8}

In [242]:
# Symmetric Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [244]:
A ^ B # symmetrical difference (Set of elements in A and B but not in both. "EXCULSIVE")

{1, 2, 3, 6, 7, 8}

In [248]:
A.symmetric_difference(B) # Symmentric difference of sets

{1, 2, 3, 6, 7, 8}

In [250]:
"""
Updates the set calling the symmentric_difference_update() method with the symmentric_update
for below example set A will be updated with the symmentric difference of A & B
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

### Subset, Superset & Disjoint

In [253]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [255]:
B.issubset(A)  # Set B is said to be the subset of A if all elements of B are found in A

True

In [257]:
A.issuperset(B)  # Set A is said to the superset of B if all elements of B are contained in A

True

In [259]:
C.isdisjoint(A)  # Two set are set to be disjoint if they have no common element

True

In [261]:
B.isdisjoint(A)

False

### Other Built in functions

In [264]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [266]:
sum(A)

45

In [268]:
max(A)

9

In [270]:
min(A)

1

In [272]:
len(A)

9

In [274]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [280]:
D = sorted(A, reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [282]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Dictionary

- dictionary is a mutable data type in python
- A python dictionary is a collection of key and value pairs seperated be a colon (:) & enclose in curly braces {}
- Keys must be unique in a dictionary, duplicate values are allowed

In [287]:
mydict = dict()   # empty dictionary
mydict

{}

In [293]:
mydict = {1:'one', 2:'two', 3:'three'}   # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [297]:
mydict = {'A':'one', 'B':'two', 'C':'three'}   # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [301]:
mydict.keys()  # Return dictionary keys using keys () method

dict_keys(['A', 'B', 'C'])

In [303]:
mydict.values()  # Return dictionary keys using values () method

dict_values(['one', 'two', 'three'])

In [305]:
mydict.items()  # Access each key-value pair within a dictionary

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [307]:
mydict = {1:'one', 2:'two', 'A':['Asif', 'Jaden', 'Maria'], 'B':('Bat', 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['Asif', 'Jaden', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [311]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys)    # Create a dictionary from a sequence of keys
mydict3

{'a': None, 'b': None, 'd': None, 'c': None}

In [ ]:
keys = {'a', 'b', 'c', 'd'}

In [315]:
value = 10

In [320]:
mydict3 = dict.fromkeys(keys, value)
mydict3

{'a': 10, 'b': 10, 'd': 10, 'c': 10}

In [322]:
keys = {'a', 'b', 'c', 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value)
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30]}

In [324]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

### Accessing items

In [331]:
mydict = {1:'one', 2:'two', 3:'three', 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [335]:
mydict[1]    # Access item using key

'one'

In [339]:
mydict.get(1)   # Access item using method ()

'one'

In [347]:
mydict1 = {'Name':'Asif', 'ID': 2345, 'DOB': 1917, 'job':'Analyst'}
mydict

{'Name': 'Asif', 'ID': 2345, 'DOB': 1917, 'job': 'Analyst'}

In [355]:
mydict1['Name']  # Access item using key

'Asif'

In [353]:
mydict1.get('job')

'Analyst'

### Add, Remove & Change Items

In [358]:
mydict1 = {'Name':'Asif', 'ID': 2345, 'DOB': 1917, 'Address':'Stewart'}
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1917, 'Address': 'Stewart'}

In [360]:
mydict1['DOB'] = 1992    # Changing Dictionary Items
mydict1['Address'] = 'Slateford'
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1992, 'Address': 'Slateford'}

In [362]:
dict1 = {'DOB':1990}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Address': 'Slateford'}

In [364]:
mydict1['Job'] = 'Analyst'   # adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 2345,
 'DOB': 1990,
 'Address': 'Slateford',
 'Job': 'Analyst'}

In [366]:
mydict1.pop('Job')  # Removing items in the dictionary using pop method
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Address': 'Slateford'}

In [368]:
mydict1.popitem()   # A random item is removed

('Address', 'Slateford')

In [370]:
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1990}

In [372]:
del[mydict1['ID']]   # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1990}

In [374]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

### Cope Dictionary

In [381]:
mydict1 = {'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Address': 'Slateford'}
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Address': 'Slateford'}

In [383]:
mydict1 = mydict   # Create a new reference 'mydict1'

In [387]:
id(mydict) , id(mydict1)  # The both address are same

(1912619811072, 1912619811072)

In [389]:
mydict2 = mydict1.copy()     # Create a copy of the dictionary

In [391]:
id(mydict2)

1912618042624

In [393]:
mydict['Address'] = 'Creg'
mydict

{'Name': 'Asif', 'ID': 2345, 'DOB': 1917, 'job': 'Analyst', 'Address': 'Creg'}

In [397]:
mydict1   # this is also impacted

{'Name': 'Asif', 'ID': 2345, 'DOB': 1917, 'job': 'Analyst', 'Address': 'Creg'}

In [401]:
mydict2    # Copy of list wont be impacted due to changes amde in the original

{'Name': 'Asif', 'ID': 2345, 'DOB': 1917, 'job': 'Analyst'}

### Loop through a Dictionary

In [408]:
mydict1 = {'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Address': 'Slateford'}
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Address': 'Slateford'}

In [410]:
for i in mydict1:
    print(i, ':', mydict1[i])  # key and value pair

Name : Asif
ID : 2345
DOB : 1990
Address : Slateford

In [415]:
for i in mydict1:
    print(mydict1[i])  # Dictionary items

Asif
2345
1990
Slateford

### Dictionary Membership

In [418]:
mydict1 = {'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Job': 'Analyst'}

In [420]:
'Name' in mydict1   # Test if a key is in a dictionary or not

True

In [422]:
'Asif' in mydict1

False

### All / Any

The all() method returns:
- True - if all keys of the dictionary are true
- False - if any key of the dictionary is false
The any() function returns True if any key of the dictionary id True. if not, any() returns False

In [425]:
mydict1 = {'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 2345, 'DOB': 1990, 'Job': 'Analyst'}

In [427]:
all(mydict1)  # will Return false as one value is false (value 0)

True

### Range

In [430]:
range(10)

range(0, 10)

In [432]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [434]:
list(range(10, 20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [436]:
list(range(10, 20, 3))  # 3 is the step

[10, 13, 16, 19]

In [438]:
range1 = range(1, 10)
range1

range(1, 10)

In [440]:
for i in range1:
    print(i)

1
2
3
4
5
6
7
8
9